*{
	margin:0;
	padding:0;
}


.custom-modal-title{
	color:white;
	text-shadow: 0px 0px 8px #000000;
}
.custom-modal-subtitle{
	text-shadow: 0px 0px 8px #000000;
}
.custom-spinner{
	font-size:48px;
	text-shadow: 0px 0px 8px #000000;
}
.custom-overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

html{
	background-color:rgba(0,0,0,0);
	/*background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);*/
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-user-select: none;
	overflow: hidden;
}

body{
	background-color:rgba(0,0,0,0);
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	color:#fff;
	width:100%;
	height:100%;
}

a, a:visited, a:hover{
	color:#fff;
	text-shadow: 0px 0px 5px #000000;
	text-decoration: none;
}


/* The cover flow slider */

.flipster {
	margin-top: 50%;
	overflow-y: hidden;
}

.flipster ul li {
	text-align: center;
}

.flipster ul li a {
	text-align: center;
}

.flip-item img{
	margin-bottom: 10px;
	width: 500px;
}
.flip-item{
	padding-top: 5px;
}


.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
		background: radial-gradient(ellipse at center, rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%);
}

.custom-close,.custom-settings {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  position: relative;
  vertical-align: top;
  width: 24px;
}

.custom-close:before, .custom-close:after {
  background: white;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -25%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 50%;
}

.custom-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.custom-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
	z-index: 10;
}
.custom-settings {
  background: none;
  height: 40px;
  position: fixed;
  right: 70px;
  top: 20px;
  width: 40px;
	z-index: 10;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.custom-settings:before, .custom-settings:after {
	background: none;
	color:white;
	content: "\f013";
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
  display: block;
  left: 50%;
  margin-left: -21%;
  margin-top: -15%;
  position: absolute;
  top: 50%;
}
.custom-close:hover,.custom-settings:hover {
  background: #ed6c63;
}

.custom-nobg{
	background:rgba(0,0,0,0.5);
}

.custom-tooltip {
	border-radius: 5px;
	border: 0px solid #000;
	background: #4c4c4c;
	color: #fff;
}
.custom-tooltip .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
