*{
	margin:0;
	padding:0;
}


.custom-modal-title{
	color:white;
	text-shadow: 0px 0px 8px #000000;
}
.custom-modal-subtitle{
	text-shadow: 0px 0px 8px #000000;
}
.custom-spinner{
	font-size:48px;
	text-shadow: 0px 0px 8px #000000;
}
.custom-overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

html{
	background-color:rgba(0,0,0,0);
	/*background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);*/
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-user-select: none;
	overflow: hidden;
}

body{
	background-color:rgba(0,0,0,0);
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	color:#fff;
	width:100%;
	height:100%;
}

a, a:visited, a:hover{
	color:#fff;
	text-shadow: 0px 0px 5px #000000;
	text-decoration: none;
}


/* The cover flow slider */

.flipster {
	margin-top: 50%;
	overflow-y: hidden;
}

.flipster ul li {
	text-align: center;
}

.flipster ul li a {
	text-align: center;
}

.flip-item img{
	margin-bottom: 10px;
}
.flip-item{
	padding-top: 5px;
}


.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
		background: radial-gradient(ellipse at center, rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%);
}
